@model Jeffer_FERRETERIA.Models.Producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stok)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proveedores.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proveedores.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdProducto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
