@model IEnumerable<Jeffer_FERRETERIA.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stok)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proveedores.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stok)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proveedores.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdProducto }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdProducto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdProducto })
        </td>
    </tr>
}

</table>
