
<!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Inicio</title>
    <link href="~/Scripts/bootstrap.js" rel="stylesheet" />
    <link href="~/Scripts/jquery-3.4.1.min.js" rel="stylesheet" />
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/Content/Menu/metisMenu.min.css" rel="stylesheet" />
    <link href="~/Content/morris js/morris.min.js" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        @Html.Partial("_LoginPartial")
        <div id="page-wrapper" >

                    @RenderBody()

                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
                </footer>
        </div>
             @*#wrapper
             jQuery
             Custom Theme JavaScript*@
             <script src="~/Content/menu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <!-- Custom Theme JavaScript -->
    <script src="~/Content/morrisjs/morris.min.js"></script>
    <script src="~/Content/js/sb-admin-2.min.js"></script>
    <script src="~/Content/jquery/jquery.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    </body>
    </html>

