@model Jeffer_FERRETERIA.Models.USUARIO_LOGIN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>USUARIO_LOGIN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contraseña)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Cedula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdUsuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
